<ion-content class="container">
  <div *ngIf="encuestas.length === 0" class="empty-container">
    <p class="empty-text">No hay encuestas por el momento</p>
    <ion-button routerLink="/aside/create-survey" class="create-button">Puedes crear tu primera encuesta</ion-button>
  </div>

  <div *ngIf="encuestas.length > 0" class="encuestas-grid">
    <ion-card *ngFor="let encuesta of encuestas" class="encuesta-card">
      <ion-card-header>
        <ion-card-title>{{ encuesta.titulo }}</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <p><strong>ID:</strong> {{ encuesta.id }}</p>
        <p><strong>Objetivo:</strong> {{ encuesta.objetivo }}</p>
        <p>
          <strong>{{ encuesta['cantidadDeRespuestas'] || 0 }} Respuestas</strong> -
          <strong>Fecha creación:</strong> {{ encuesta.fecha_creacion | date:'dd/MM/yyyy' }}
        </p>
      </ion-card-content>
      <ion-item lines="none" class="menu-container">
        <ion-button fill="clear" (click)="openMenu($event, encuesta.id)">
          <ion-icon name="ellipsis-vertical"></ion-icon>
        </ion-button>
      </ion-item>
    </ion-card>
  </div>
</ion-content>

<ion-popover [isOpen]="isMenuOpen" [event]="menuEvent" (didDismiss)="isMenuOpen = false">
  <ion-content>
    <ion-list>
      <ion-item button (click)="verEncuesta(selectedEncuestaId)">
        Ver encuesta
      </ion-item>
      <ion-item button (click)="verDashboard(selectedEncuestaId)">
        Ver resultados de la encuesta
      </ion-item>
      <ion-item button (click)="compartirEncuesta(selectedEncuestaId)">
        Compartir encuesta
      </ion-item>
      
      
    </ion-list>
  </ion-content>
</ion-popover>
