ion-padding container{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; 
  width: 100%; 
  --background: white; 
}


.cha-card{
  width: 100%;
  max-width: 400px;
  background: rgba(221, 224, 236, 0.35);
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
  margin: auto;
  color: black;
}

.TIT{
  text-align: left;
  color: #374151 ;
  font-size: 20px ;
  line-height: 28px ;
}


  label{
    font-weight: 700;
    font-size: 14px ;
    line-height: 20px; 
  }
  
  ion-card-title {
    font-size: 1.5rem;
    font-weight: bold;
    color: #4a4a4a;
    text-align: center;
  }
  
  h2 {
    font-size: 24px ;
    line-height: 32px ;
    font-weight: bold;
    color: black;
    text-align: center;
    margin-bottom: 0;
  }
  
  h3 {
    font-size: 0.875rem;
    font-weight: 600;
    line-height: 20px ;
    color: black;
    text-align: center;
    margin-top: 0;
  }
  
  .input-container {
    margin-bottom: 15px;
  }
  
  ion-label[for="clave"] {
    margin-top: 26px; 
    display: block; 
  }

  ion-item[lines="full"] {
    --background: transparent; 
    --highlight-background: transparent; 
    border: none; 
  }
  
  ion-item[lines="full"]::after {
    content: ''; 
    display: block;
    width: 100%;
    height: 1.5px; 
    background-color: #6B7280; 
    position: absolute;
    bottom: 0;
  }

  ion-input-password-toggle {
    filter: brightness(0); 
    width: 27px;
    height: 35px;
    transform: scale(0.7); 
  }
  
  
  .chan-button {
    margin-top: 20px;
    --background: #535B86;
    --color: white;
    font-weight: bold;
    border-radius: 8px;
    text-transform: none !important;
    font-weight: 500;
    

  }
  
  .chan-button:hover {
    --background: #3c4882;
  }

  ion-button.chan-button {
    --border-radius: 20px; 
  }
  
  .recaptcha-container {
    display: flex;
    justify-content: center;
    margin-top: 10px;
    z-index: 1; /* Asegura que no se superponga sobre el botón */
    position: relative;
    overflow: visible !important;

  }
  
  .g-recaptcha {
    transform: scale(1);
    transform-origin: 0 0;
}

button {
  position: relative;
  z-index: 9999;
}

  .grecaptcha-badge {
    z-index: 9999 !important;
    pointer-events: none !important;
    display: none !important;


  }
  .grecaptcha-badge iframe {
    width: 100% !important;
    height: auto !important;
  }