<ion-content class="ion-padding">
  <div class="container">
    <ion-card class="login-card">
      <ion-card-header>
        <ion-card-title class="title">SurveyEngine</ion-card-title>
      </ion-card-header>

      <ion-card-content>
        <h2 class="subtitle">Recuperar Contraseña</h2>
      
        <form [formGroup]="emailForm" (ngSubmit)="onSubmit()" class="form">
        <!-- <form class="form"> -->

         <!-- Correo -->
          <ion-label for="email" color="dark">Ingrese su correo electrónico</ion-label>
            <ion-item lines="full">
              <span slot="start" class="input-icon">
                <svg width="18" height="13" viewBox="0 0 17 13" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path
                    d="M1.49414 0.676514H15.5059C16.3297 0.676514 17 1.34679 17 2.17065V10.8294C17 11.6533 16.3297 12.3236 15.5059 12.3236H1.49414C0.670271 12.3236 0 11.6533 0 10.8294V2.17065C0 1.34679 0.670271 0.676514 1.49414 0.676514ZM1.68914 1.67261L1.88856 1.83866L7.90719 6.85037C8.25071 7.13638 8.74936 7.13638 9.09281 6.85037L15.1114 1.83866L15.3109 1.67261H1.68914ZM16.0039 2.39172L11.1001 6.47514L16.0039 9.73878V2.39172ZM1.49414 11.3275H15.5059C15.7465 11.3275 15.9478 11.1559 15.9939 10.9287L10.3014 7.14017L9.73018 7.61583C9.37377 7.9126 8.93685 8.06099 8.49997 8.06099C8.06308 8.06099 7.62619 7.9126 7.26976 7.61583L6.69853 7.14017L1.00605 10.9286C1.05221 11.1559 1.25348 11.3275 1.49414 11.3275ZM0.996094 9.73878L5.89993 6.47517L0.996094 2.39172V9.73878Z"
                    fill="black" />
                </svg>
              </span>
              <ion-input formControlName="correo" id="correo" type="email" placeholder="Correo electrónico"
              class="input-style"></ion-input>
            </ion-item>
          


          <!-- Botón de iniciar sesión -->
          <ion-button type="submit" expand="block" class="login-button">Enviar</ion-button>
        </form>
      </ion-card-content>

      <p class="text">Ya tienes una cuenta?
      
        <a routerLink="/register" class="register-link">Inicia Sesión!</a>
      </p>

    </ion-card>
  </div>

  <!-- Alerta de error general
  <ion-alert
  id="error-alert"
  header="¡Error!"
  message="Ha ocurrido un problema al procesar la solicitud."
  [buttons]="['Aceptar']">
</ion-alert>

<ion-alert
  id="invalid-email-alert"
  header="¡Error!"
  message="Por favor, ingrese un correo válido."
  [buttons]="['Aceptar']">
</ion-alert>

<ion-alert
  id="success-alert"
  header="Correo válido"
  message="El correo es válido. Un enlace ha sido enviado a su correo para restablecer la contraseña."
  [buttons]="['Aceptar']">
</ion-alert>
 -->
 <ion-alert
 [isOpen]="invalidEmailAlertVisible | async"
 header="Formulario inválido"
 message="Por favor, completa todos los campos correctamente."
 buttons="Aceptar">
</ion-alert>

<ion-alert
 [isOpen]="successAlertVisible | async"
 header="Éxito"
 message="Se ha enviado un correo para recuperar la contraseña."
 buttons="Aceptar">
</ion-alert>

<ion-alert
 [isOpen]="errorAlertVisible | async"
 header="Error"
 message="Hubo un problema, inténtalo de nuevo más tarde."
 buttons="Aceptar">
</ion-alert>

</ion-content>
