<ion-content>
  <div class="error-container">
    <div class="error-header">
<ion-icon class="icon-red" name="ellipse"></ion-icon>
<ion-icon class="icon-yellow" name="ellipse"></ion-icon>
<ion-icon class="icon-green" name="ellipse"></ion-icon>
    </div>
    <h1 class="error-title">404</h1>
    <p class="error-text">Página No Encontrada</p>
    <button (click)="navigateToLogin()" class="error-button">
      Regresar al login
    </button>
        <img src="https://credigasnativa.com/static/media/cartoonNoPage.965857122f169b44aeb1.png" alt="404 Image" class="error-image"> 
  </div>
</ion-content>